@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px
}
html {
    width: 100vw;
    
}
main {
    background-color: rgb(90, 89, 89);    
    
}
#burguer {
    color: white;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
#burguer:hover {
    background-color: white;
    color: black;
}
nav {
    display: none;  
}
nav > ul {

}
nav > ul > li > a {
    display: block;
    text-align: center;
    list-style-type: none;
    color: white;
    line-height: 1.4em;
    text-decoration: none;
    font-size: 1.5em;
    border: 1px white solid;
}
nav > ul > li > a:hover {
    background-color: rgb(63, 63, 63);
}
header > img{
    width: 612px;
    height: 300px;
    margin: auto;
    display: block;
}   